.carousel {
  width: 85rem;
  height: 51rem;
  margin: 0;
  overflow: hidden;
  border-radius: 1.2rem;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  height: 52.5%;
  align-items: flex-end;
}

.carousel .carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel .carousel-item {
  width: 100%;
  height: 100%;
}

.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel-caption {
  text-align: left;
  left: 6%;
  z-index: 200;
}

.carousel .carousel-caption h3 {
  font-size: 2.4rem;
  font-weight: 800;
  font-style: normal;
  line-height: 2.8rem;
  margin-bottom: 1.8rem;
}

.carousel .carousel-caption p {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
}

.carousel .carousel-caption a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.carousel .carousel-indicators {
  display: none;
}

.carousel-gradient-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  height: 35vh;
  width: 100%;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  background-image: linear-gradient(to top, #9a5af9 30%, transparent);
}
