.container-weatherloc {
    width: 30.5rem;
    height: 13.6rem;
    border-radius: 1.2rem;
    background: rgba(255,207,38,0.5);
    box-shadow: 1.6rem solid #ffcf26;
}

.container-weatherloc h6 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    color: #fff;
    margin-right: auto;
}

.layout-flex {
    display: flex;
    align-items: center;
    padding: 0 0.4rem;
}

.layout-flex--direction {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1.1rem;
}

.weatherloc {
    padding: 2rem 1.6rem;
}

.weatherloc-temperature {
    color: #fff;
    font-size: 3.9rem;
    font-weight: 600;
    line-height: 4.4rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

.weatherloc-weather {
    height: 1.4rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4rem;
    padding-top: 1.8rem;
}

.weatherloc-daydate {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    padding-bottom: 0.8rem;
}

.weatherloc-icon--weather {
    height: 7.5rem;
    width: 7.5rem;
    color: #f5c61e;
    margin-left: 4.3rem;
}

.weatherloc-icon--more {
    height: 1.6rem;
    width: 1.6rem;
    color: #fff;
    cursor: pointer;
}