// css variables - for you

$background-homepage:#F6F6F6;
$logo-font:black;
$logo-theme:purple;
$font-family:Arial, Helvetica, sans-serif;
$grey:grey;
$searchbar-background:#f1f1f1;
$searchbar-bordercolor:rgb(218, 214, 214);
$homepage-headings-color:#1B1425;
$quickbytes-background-color: rgba(202, 186, 226, 0.1);
$quickbytes-border1:#cabae2;
$quickbytes-border2:#6b3fad;
$innercontent-category-headline:#ffffff;