@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

.container-foryou {
  width: 144rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-foryou .outer-container-foryou {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5rem 11.85rem 5rem 11.85rem;
}
.container-foryou .outer-container-foryou .for-you {
  width: 85.5rem;
  height: 38rem;
}
.container-foryou .outer-container-foryou .for-you .heading-foryou {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-foryou .outer-container-foryou .for-you .heading-foryou h2 {
  width: 9.5rem;
  height: 2.9rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #1B1425;
  margin-right: 1.252rem;
}
.container-foryou .outer-container-foryou .for-you .inner-container-foryou {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
}
.container-foryou .outer-container-foryou .for-you .inner-container-foryou .inner-sub-container-foryou {
  display: flex;
  margin-bottom: 2.7rem;
}
.container-foryou .outer-container-foryou .for-you .inner-container-foryou .inner-sub-container-foryou .for-you-img1 {
  width: 24.4rem;
  height: 14rem;
  background-image: url("../assets/Rectangle 15.png");
}
.container-foryou .outer-container-foryou .for-you .inner-container-foryou .inner-sub-container-foryou .for-you-img2 {
  width: 24.4rem;
  height: 14rem;
  background-image: url("../assets/Rectangle 16.png");
}
.container-foryou .outer-container-foryou .for-you .inner-container-foryou .inner-sub-container-foryou .content {
  margin-left: 3rem;
  width: 57.8rem;
}
.container-foryou .outer-container-foryou .for-you .inner-container-foryou .inner-sub-container-foryou .content .headline-foryou {
  height: 4.8rem;
  width: inherit;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #1B1425;
}
.container-foryou .outer-container-foryou .for-you .inner-container-foryou .inner-sub-container-foryou .content .summary-foryou {
  height: 4.4rem;
  width: inherit;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #1B1425;
  opacity: 0.8;
  margin-top: 1.6rem;
}
.container-foryou .outer-container-foryou .for-you .inner-container-foryou .inner-sub-container-foryou .content .day-status-foryou {
  width: 6.1rem;
  height: 1.7rem;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #1B1425;
  opacity: 0.7;
  margin-top: 1.5rem;
}
.container-foryou .outer-container-foryou .quickbytes {
  height: 38rem;
  width: 30.5rem;
  background-color: rgba(202, 186, 226, 0.1);
  border-radius: 1.2rem;
  margin-left: 4.3rem;
}
.container-foryou .outer-container-foryou .quickbytes .quickbytes-content {
  display: flex;
  flex-direction: column;
}
.container-foryou .outer-container-foryou .quickbytes .quickbytes-content .quickbytes-heading {
  width: 26.873rem;
  height: 2rem;
  margin: 2rem 2.027rem 0 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  color: #1B1425;
}
.container-foryou .outer-container-foryou .quickbytes .quickbytes-content .quickbytes-heading h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #1B1425;
}
.container-foryou .outer-container-foryou .quickbytes .quickbytes-content .quickbytes-border1 {
  width: 27.7rem;
  border: 0.05rem solid #cabae2;
  align-self: center;
  opacity: 0.4;
}
.container-foryou .outer-container-foryou .quickbytes .quickbytes-content .quickbytes-headlines-content {
  display: flex;
  flex-direction: column;
}
.container-foryou .outer-container-foryou .quickbytes .quickbytes-content .quickbytes-headlines-content .quickbytes-headlines {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 26.1rem;
  margin: 2.4rem 2.8rem 0 1.6rem;
  padding-bottom: 1.4rem;
  font-family: "Montserrat";
  font-style: normal;
  color: #1B1425;
  font-weight: 500;
}
.container-foryou .outer-container-foryou .quickbytes .quickbytes-content .quickbytes-headlines-content .quickbytes-headlines h2 {
  height: 2.4rem;
  width: 1.2rem;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-right: 1.6rem;
}
.container-foryou .outer-container-foryou .quickbytes .quickbytes-content .quickbytes-headlines-content .quickbytes-headlines p {
  height: 3.4rem;
  width: 23.3rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
.container-foryou .outer-container-foryou .quickbytes .quickbytes-content .quickbytes-border2 {
  opacity: 0.4;
  border: 0.5px solid #6b3fad;
  width: 27.7rem;
  align-self: center;
}

.container-categories {
  width: 144rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container-categories .outercontainer-category {
  width: 100%;
  height: 36rem;
  margin: 0rem 11.85rem 5rem 11.85rem;
}
.container-categories .outercontainer-category .heading-category {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-categories .outercontainer-category .heading-category h2 {
  height: 2.9rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #1B1425;
  margin-right: 1.252rem;
}
.container-categories .outercontainer-category .innercontainer-category {
  display: flex;
  flex-direction: row;
}
.container-categories .outercontainer-category .innercontainer-category .innersubcontainer11 {
  background: url("../assets/Rectangle 13.png");
}
.container-categories .outercontainer-category .innercontainer-category .innersubcontainer12 {
  background: url("../assets/Rectangle2.png");
}
.container-categories .outercontainer-category .innercontainer-category .innersubcontainer-1 {
  margin-top: 2.4rem;
  width: 48.8rem;
  height: 30.7rem;
  display: flex;
  flex-direction: column;
}
.container-categories .outercontainer-category .innercontainer-category .innersubcontainer-1 .inneremptysubcontainer {
  height: 12.8rem;
}
.container-categories .outercontainer-category .innercontainer-category .innersubcontainer-1 .innersubcontainer-content {
  width: inherit;
  height: 17.9rem;
  border-radius: 1.2rem;
}
.container-categories .outercontainer-category .innercontainer-category .innersubcontainer-1 .innersubcontainer-content1 {
  background: linear-gradient(180deg, rgba(252, 106, 71, 0) 12.47%, #fc6a47 100%);
}
.container-categories .outercontainer-category .innercontainer-category .innersubcontainer-1 .innersubcontainer-content2 {
  background: linear-gradient(180deg, rgba(23, 21, 24, 0) 12.47%, #161618 100%);
}
.container-categories .outercontainer-category .innercontainer-category .innersubcontainer-1 .innercontent-category {
  height: 9.5rem;
  width: 44.8rem;
  margin-top: 6.8rem;
  margin-left: 1.6rem;
}
.container-categories .outercontainer-category .innercontainer-category .innersubcontainer-1 .innercontent-category .innercontent-category-headline {
  width: inherit;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
  margin-bottom: 0.8rem;
}
.container-categories .outercontainer-category .innercontainer-category .innersubcontainer-1 .innercontent-category .innercontent-category-status {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #ffffff;
  opacity: 0.9;
}
.container-categories .outercontainer-category .innersubcontainer2 {
  width: 67.2rem;
  height: 30.7rem;
  margin-top: 2.4rem;
  margin-left: 4rem;
}
.container-categories .outercontainer-category .innersubcontainer2 .innersubchildcontainer {
  width: inherit;
  height: 14rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2.7rem;
}
.container-categories .outercontainer-category .innersubcontainer2 .innersubchildcontainer .imgsubchildcontainersubimg1 {
  background: url("../assets/Rectangle.png");
}
.container-categories .outercontainer-category .innersubcontainer2 .innersubchildcontainer .imgsubchildcontainersubimg2 {
  background: url("../assets/Rectangle3.png");
}
.container-categories .outercontainer-category .innersubcontainer2 .innersubchildcontainer .imgsubchildcontainersubimg3 {
  background: url("../assets/Rectangle4.png");
}
.container-categories .outercontainer-category .innersubcontainer2 .innersubchildcontainer .imgsubchildcontainersubimg4 {
  background: url("../assets/Rectangle5.png");
}
.container-categories .outercontainer-category .innersubcontainer2 .innersubchildcontainer .innersubchildcontainerimg1 {
  width: 19.2rem;
  height: inherit;
}
.container-categories .outercontainer-category .innersubcontainer2 .innersubchildcontainer .innersubchildcontainerimg2 {
  width: 19.2rem;
  height: inherit;
}
.container-categories .outercontainer-category .innersubcontainer2 .innersubchildcontainer .innersubchildcontainercontent {
  display: flex;
  flex-direction: column;
  width: 45.6rem;
  margin-left: 2.4rem;
  height: 4.8rem;
}
.container-categories .outercontainer-category .innersubcontainer2 .innersubchildcontainer .innersubchildcontainercontent .innersubchildcontainerheadline {
  width: inherit;
  height: inherit;
  margin-bottom: 1.6rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #1B1425;
}
.container-categories .outercontainer-category .innersubcontainer2 .innersubchildcontainer .innersubchildcontainercontent .innersubchildcontainersummary {
  width: inherit;
  height: 4.4rem;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #1B1425;
  opacity: 0.8;
  margin-bottom: 1.5rem;
}
.container-categories .outercontainer-category .innersubcontainer2 .innersubchildcontainer .innersubchildcontainercontent .innersubchildcontainerstatus {
  height: 1.7rem;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #1B1425;
  opacity: 0.7;
}/*# sourceMappingURL=main.css.map */